.app-common-content-card {
    padding: 28px;
}

.app-common-footer-spacer {
    width: 100%;
    height: 120px;
}

.app-common-footer-position {
    position: fixed;
    width: 100%;
    bottom: 0;
}


/* Scrollbar customizada */ 
::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-thumb {
	background: rgb(255,110,64);
}
