/* Ajusta altura mínima da toolbar */
.app-toolbar {
    min-height: 48px;
}

/* Altura fixa para a toolbar */
.app-toolbar > .mdl-layout__header-row {
    height: 48px;
    padding-left: 16px;
    padding-right: 16px;
}

/* Sobrepõe abas na linha principal da toolbar */
.app-toolbar > .mdl-layout__tab-bar-container {
    position: fixed;
    width: 300px;
    align-self: flex-end;
    padding-right: 64px;
}

/* Ícone de usuário maior */
#app-account-button > .material-icons {
    font-size: 32px;
}

/* Reseta valores definidos no ícone de usuário */
#app-account-button > i.material-icons {
    position: initial;
    top: initial;
    left: initial;
    -webkit-transform: initial;
    transform: initial;
    line-height: initial;
    width: initial;
}
/* Avatar do usuário na toolbar*/
#app-account-button > img {
    vertical-align: top;
    width: 32px;
    height: 32px;
}

