.app-common-content-card {
    padding: 28px;
}

.app-common-footer {
    position: absolute;
    bottom: 0;
}

.app-common-footer-overlay {
    position: absolute;
    bottom: 0;
    opacity: 0;
    z-index: 4;
}

.app-common-footer-spacer {
    width: 100%;
    height: 100px;
}

.mdl-mini-footer__left-section > .mdl-logo {
    pointer-events: none;
}

/* Scrollbar customizada */ 
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background: rgb(255,110,64);
}
