.app-tool-preview-card-container {
    width: 100%;
    height: 100%;
}

.app-tool-preview-card-inner {
    height: 100%;
    margin: 0px 0px 56px;
}

.app-tool-preview-card-bottom {
    position: absolute;
    bottom: 0;
    height: 56px;
}

.app-tool-preview-card-text {
    margin: 8px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.app-tool-preview-card-iframe-container {
    height: 80%;
}

.app-tool-preview-iframe {
    background-color: #ffffff;
    height: 100%;
    border: 0;
    resize: vertical;

    /*** Ajuste de escala ***
    -ms-transform: scale(1,1);
    -ms-transform-origin: 0% 0%;
    -webkit-transform: scale(1,1);
    -webkit-transform-origin: 0% 0%;
    transform: scale(1,1);
    transform-origin: 0% 0%;
    */
}

#app-tool-download-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.app-tool-resume-editing {
    display: none;
}

.app-tool-upload-card {
    height: 330px;
}

.app-tool-upload-card-text-area {
    resize: none;
    width: 100%;
    height: 100%;
}

.app-tool-upload-card-spacer {
    height: 138px;
}

.app-tool-preview-card-tag-container > p {
    margin: 0 0 8px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.app-tool-preview-card-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #ffffff;
}

.app-tool-preview-card-li {
    padding-left: 8px;
}

.app-tool-preview-card-li:hover {
    background-color: #e0e0e0;
}

.app-tool-preview-card-li > a {
    color: rgba(0,0,0,.87);
    text-decoration: none !important;
    display:block;
}

