.app-tool-preview-card {
    width: 100%;
    height: 100%;
}

.app-tool-preview-card-inner {
    margin: 0;
    height: 100%;
}

.app-tool-preview-card-bottom {
    position: absolute;
    bottom: 0;
    height: 56px;
}

.app-tool-preview-card-spacer {
    height: 64px;
    width: 100%;
}

.app-tool-preview-card-element-text {
    margin: 8px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.app-tool-preview-card-iframe-container {
    height: 80%;
}

.app-tool-preview-iframe {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}

#app-tool-download-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.app-tool-resume-editing {
    display: none;
}

.app-tool-upload-card {
    height: 330px;
}

.app-tool-upload-card-text-area {
    resize: none;
    width: 100%;
    height: 100%;
}

.app-tool-upload-card-spacer {
    height: 138px;
}