<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>CSS Tool</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<script src="assets/scripts/mdc/material-components-web.js" charset="utf-8"></script>
		<script src="assets/scripts/mdc/mdc.menu.js" charset="utf-8"></script>
		<script src="assets/scripts/mdc/mdc.drawer.js" charset="utf-8"></script>
		<script src="assets/scripts/mdc/mdc.formField.js" charset="utf-8"></script>
		<script src="assets/scripts/mdc/mdc.textfield.js" charset="utf-8"></script>
		
		
		<link rel="stylesheet" href="assets/css/mdc/material-components-web.css">
		<link rel="stylesheet" href="assets/css/mdc/mdc.toolbar.css">
		<link rel="stylesheet" href="assets/css/mdc/mdc.drawer.css">
		<link rel="stylesheet" href="assets/css/mdc/mdc.menu.css">
		<link rel="stylesheet" href="assets/css/mdc/mdc.list.css">
		<link rel="stylesheet" href="assets/css/mdc/mdc.form-field.css">
		<link rel="stylesheet" href="assets/css/mdc/mdc.textfield.css">
		<link rel="stylesheet" href="assets/fonts/icons/material-icons.css">
		<link rel="stylesheet" href="assets/css/common.css">
	
	</head>
	
	<body class="mdc-typography app-body">
		<header class="mdc-toolbar mdc-toolbar--fixed">
			<section class="mdc-toolbar__section mdc-toolbar__section--align-start">
				<span class="mdc-toolbar__title">CSS Tool</span>
			</section>
			
			<section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
				<a class="material-icons app-toolbar-user-button" aria-label="Download" alt="Download">account_circle</a>
			</section>

			<div class="mdc-simple-menu mdc-simple-menu--open-from-top-right" style="top: 1em; right: 1em;" tabindex="-1">
				<ul class="mdc-simple-menu__items mdc-list" role="menu" aria-hidden="true">
					<li class="mdc-list-item" role="menuitem" tabindex="0"><i class="material-icons">face</i>Fulano Beltrano</li>
					<li class="mdc-list-divider" role="separator"></li>
					<li class="mdc-list-item" role="menuitem" tabindex="0">Sair</li>
					<li class="mdc-list-item" role="menuitem" tabindex="0">Configurações</li>
				</ul>
			</div>

			<script src="assets/scripts/app-toolbar.js" charset="utf-8"></script>
		</header>

		<div class="app-content mdc-toolbar-fixed-adjust">
			<nav class="mdc-permanent-drawer">
				<div class="mdc-list-group">
					<nav class="mdc-list">
						<a class="mdc-list-item" href="#">
							<i class="material-icons mdc-list-item__start-detail" aria-hidden="true">home</i>Home
						</a>

						<a class="mdc-list-item mdc-permanent-drawer--selected" href="#">
							<i class="material-icons mdc-list-item__start-detail" aria-hidden="true">settings</i>Tool
						</a>
					</nav>

					<hr class="mdc-list-divider">

					<nav class="mdc-list">
						<a class="mdc-list-item" href="#">
							<i class="material-icons mdc-list-item__start-detail" aria-hidden="true">info_outline</i>About
						</a>
					</nav>
				</div>
			</nav>
			
			<main class="app-main">
				<h1 class="mdc-typography--display1">Upload</h1>
				
				<form action="#" id="upload">
					<div>
						<div class="mdc-form-field">
							<div class="mdc-textfield mdc-textfield--multiline" data-mdc-auto-init="MDCTextfield">
								<textarea id="html" class="mdc-textfield__input" rows="10" cols="38"></textarea>
								<label for="html" class="mdc-textfield__label">Insira aqui o código HTML ou faça upload do arquivo</label>
							</div>
						</div><br/>
						
						<div class="mdc-form-field">
							<input id="file" type="file">
						</div>
						
					</div><br/>

					<button type="submit"
							class="mdc-button
								   mdc-button--raised
								   mdc-button--primary
								   mdc-ripple-surface"
							data-mdc-auto-init="MDCRipple">
					  Enviar
					</button>
				</form>
				<script>window.mdc.autoInit();</script>
			</main>
		</div>
	</body>
</html>
